<ul class="channels container row gutters active">
    {{#each channels}}
        <li class="channel col span_6" data-channel-id="{{ id }}" data-channel-slug="{{ slug }}">
            <a href="#">
                <div class="channel-image" style="background-image: url('/images/channels/{{ id }}.jpg');"></div>
                <h3>{{ title }}</h3>
            </a>
        </li>
    {{/each}}
    {{#if user}}
        <li class="channel channel--add-new col span_6">
            <a href="#">
                <div class="channel-image"></div>
                <h3>New channel</h3>
            </a>
        </li>
    {{/if}}
</ul>